.BIBEntry .author .highlight-me {
  font-weight: bold;
}

.BIBEntry a {
  font-family: monospace;
  font-size: 1rem;
}

.BIBTeX {
  font-family: monospace;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
