// Mixins
// Bootstrap Button Variant
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Poppins|Signika');

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin body-font {
  font-family: 'EB Garamond', serif;
}
@mixin heading-font {
  font-family: 'Signika', sans-serif;
}
@mixin big-heading-font {
  font-family: 'Poppins', sans-serif;
}
