      <ul class="list-inline list-social-icons mb-0">
        {% if config.THEME_SETTINGS.facebook_id %}
        <li class="list-inline-item">
          <a href="https://www.facebook.com/{{ config.THEME_SETTINGS.facebook_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.twitter_id %}
        <li class="list-inline-item">
          <a href="https://twitter.com/{{ config.THEME_SETTINGS.twitter_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.instagram_id %}
        <li class="list-inline-item">
          <a href="https://instagram.com/{{ config.THEME_SETTINGS.instagram_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.github_id %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ config.THEME_SETTINGS.github_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.gitlab_id %}
        <li class="list-inline-item">
          <a href="https://gitlab.com/{{ config.THEME_SETTINGS.gitlab_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.codepen_id %}
        <li class="list-inline-item">
          <a href="https://codepen.com/{{ config.THEME_SETTINGS.codepen_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.linkedin_url %}
        <li class="list-inline-item">
          <a href="{{ config.THEME_SETTINGS.linkedin_url }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.googleplus_id %}
        <li class="list-inline-item">
          <a href="https://plus.google.com/u/0/+{{ config.THEME_SETTINGS.googleplus_id }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus-official fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if config.THEME_SETTINGS.google_scholar_url %}
        <li class="list-inline-item">
          <a href="{{ config.THEME_SETTINGS.google_scholar_url }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="ai ai-google-scholar fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
