{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">
        {{ config.THEME_SETTINGS.title }}
        {{config.THEME_SETTINGS.first_name}}
        {{config.THEME_SETTINGS.last_name}}
      </h1>
      <div class="subheading mb-5">
      {% if config.THEME_SETTINGS.position %}
        {{config.THEME_SETTINGS.position}} ·
      {% endif %}
      {% if config.THEME_SETTINGS.affiliation %}
        {{config.THEME_SETTINGS.affiliation}} ·
      {% endif %}
      {% if config.THEME_SETTINGS.country %}
          {{config.THEME_SETTINGS.country}}
      {% endif %}
      <p><a href="mailto:{{config.THEME_SETTINGS.email}}">{{config.THEME_SETTINGS.email}}</a></p>
      </div>
      <p class="mb-5">{{this.body}}</p>
    </div>
  </section>
</div>
{% endblock %}
